endpoint-message-interceptor/src/main/app/endpoint-message-interceptor.xml
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/current/mule-stdio.xsd
http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.6/mule-stdio.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.6/mule.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd" version="EE-3.6.1">

	<stdio:connector name="stdioConnector"
		messageDelayTime="1234" outputMessage="abc" promptMessage="Enter number of cars to purchase: "
		doc:name="STDIO" />
		
    <flow name="enpoint-message-listenerFlow">
		<stdio:inbound-endpoint system="IN" connector-ref="stdioConnector" doc:name="STDIO">
<!-- 			<custom-processor class="org.jrichardsz.template.mule.EndpointMessageInterceptor"></custom-processor> -->
		</stdio:inbound-endpoint>
        <set-variable variableName="number_cars" value="#[payload]" doc:name="save # cars to buy"/>
        <scripting:component doc:name="create_car">
            <scripting:script engine="Groovy"><![CDATA[
car =
"   __     \n"+
" _| =\\__ \n"+
"/o____o_\\";

return car;]]></scripting:script>
        </scripting:component>
        <scripting:component doc:name="purchase cars">
            <scripting:script engine="Groovy"><![CDATA[import org.mule.api.transport.PropertyScope

number_cars_string = message.getProperty("number_cars",PropertyScope.INVOCATION);
int number_cars = number_cars_string.toInteger()

println ">>> Start buying car... "

(1..number_cars).each {
  System.out.println(payload) 
}

System.out.println()
println "purchased cars : " + number_cars_string]]></scripting:script>
        </scripting:component>
        <set-payload value="Subtotal $875.00;Total $875.00;Amount Paid $0.00;Balance Due  $875.00" doc:name="create invoice"/>
        
		<file:outbound-endpoint path="D:\opt" outputPattern="invoice.txt"  responseTimeout="10000" doc:name="invoice report">
<!-- 			<custom-processor class="org.jrichardsz.template.mule.EndpointMessageInterceptor"></custom-processor>		 -->
		</file:outbound-endpoint>
           
    </flow>

</mule>
