simple_xml_to_json_with_quartz/src/main/app/simple_xml_to_json_with_quartz.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

 	<quartz:connector name="Quartz" validateConnections="true" doc:name="Quartz"/>
    <file:endpoint name="fileconector" path="F:\prueba\prueba.txt" />

	<flow name="simple-xml-to-json-with-quartzFlow">
        <quartz:inbound-endpoint jobName="readXml" cronExpression="0 11 12 * * ?" repeatInterval="0" responseTimeout="10000" doc:name="Quartz" connector-ref="Quartz">
			<quartz:endpoint-polling-job>
                <quartz:job-endpoint ref="fileconector"/>
            </quartz:endpoint-polling-job>
        </quartz:inbound-endpoint>
        
        <logger message="inicio: #[payload]" level="INFO" doc:name="Logger"/>
       
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
        
        <logger message="el json es: #[payload] y  #[message] " level="INFO" doc:name="Logger"/>
       
    </flow>


</mule>
